<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_myparis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_MyParis">
        <activity
            android:name=".ShoppingPage"
            android:exported="true" />
        <activity
            android:name=".AnecdotesPages"
            android:exported="true" />
        <activity
            android:name=".TransportsPage"
            android:exported="true" />
        <activity
            android:name=".MChampsElysees"
            android:exported="true" />
        <activity
            android:name=".MVersailles"
            android:exported="true" />
        <activity
            android:name=".MSacreCoeur"
            android:exported="true" />
        <activity
            android:name=".MPompidou"
            android:exported="true" />
        <activity
            android:name=".MOrsay"
            android:exported="true" />
        <activity
            android:name=".MArcTriomphe"
            android:exported="true" />
        <activity
            android:name=".MNotreDame"
            android:exported="true" />
        <activity
            android:name=".MLouvre"
            android:exported="true" />
        <activity
            android:name=".MTourEiffel"
            android:exported="true" />
        <activity
            android:name=".RestaurantsPage"
            android:exported="true" />
        <activity
            android:name=".Monuments"
            android:exported="true"
            android:label="@string/title_activity_monuments"
            android:theme="@style/Theme.Projet_MyParis.NoActionBar" />
        <activity
            android:name=".FirstPage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>